/*705  440*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/*Animacion para el "fondo" que esta dentro del div*/
@keyframes scrollBg {
    from {
        transform: translate3d(0px, 0px, 0px);
    }
    to {
        transform: translate3d(-2050px, -500px, 0px);
    }
}

/*Estilos basicos y de posicionamiento*/

#bg-image-container {
    position: absolute;
    width: 5000px;
    height: 5000px;
    overflow: hidden;
    opacity: 0.15;

}

#bg-image {
    background-image: url(./assets/background-steam.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    animation-name: scrollBg;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    filter: blur(2px);

}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 22, 22);
    overflow: hidden;
}

header {
    display: flex;
    width: 100vw;
    height: 20vh;
    padding-top: 20px;
    padding-left: 15px;
    justify-content: space-between;
}

/*This is the top-right "X" */

header p {
    position: absolute;
    color: #6C7D83;
    text-align: center;
    font-weight: 500;
    padding-top: 4px;
    width: 29px;
    height: 29px;
    top: 0px;
    left: calc(50% - -323px);
    border-top-right-radius: 8px;
    transition: 0.3s ease-in-out;   
}

header p:hover {
    background-color: rgb(194, 18, 18);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    font-weight: 700;
    margin-top: 42px;
    font-size: 2.6rem;
    margin-bottom: 32px;
}

.profile-cards {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 50rem;
    height: 20rem;
    left: calc(50% - 23.9rem);
    gap: 25px;   
}

.card-container {
    display: flex;
    width: 95px;
    height: 95px;
    justify-content: flex-end;
    align-items: flex-end;
    border:2px solid transparent;
    transition: 0.3s ease-in-out;
}

#brother-profile, #player-profile{
    width: 100%;
    height: 100%;
}

/*Have the three little dots show when .card-container is hovered, then when hovered increase opacity*/

.three-dots {
    position: absolute;
    background-image: url(./assets/three-dots.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 27px;
    height: 27px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card-container:hover .three-dots{
    opacity: 0.65;
}

.card-container:hover .three-dots:hover {
    opacity: 1;
}

/*Create the add account*/

.profile-cards .add-account {
    position: relative;
    left: -1.2rem;
    width: 5.6rem;
    height: 5.6rem;
    align-self:center;
    background-size: cover;
    background-image: url(./assets/add-account-logo.png);
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}


/*add the profile info section and general styles to its containers*/

.info-container h2 {
    font-size: 1.6rem;
    color: white;
}

.info-container p {
    position: relative;
    font-size: 1.3rem;
    color: #6C7D83;
}

/*personalize position for .brother-info*/

.brother-info {
    position: relative;
    top: -1.6rem;
    left: 6.5rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.brother-info p {
    left: -5.2rem;
}

/*personalize position for .player-info*/

.player-info {
    position: relative;
    top: -1.6rem;
    left: -5.5rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.player-info p {
    left: -3.2rem;
}

/*personalize position for .add-info*/

.add-info {
    position: relative;
    opacity: 0;
    z-index: 2;
    height: 4rem;
    top: -7.5rem;
    left: 10.9rem;
    transition: 0.3s ease-in-out;
}

/*Give hover styles to the cards*/

.brother-effect:hover, .player-effect:hover, .add-effect:hover{
    transform: translateY(-5px);
    border: 2px solid white;
    cursor: pointer;
}

/*make all the elements from info-container show when hovered*/

.brother-effect:hover ~ .brother-info, .player-effect:hover ~ .player-info, .add-effect:hover ~ .add-info{
    opacity: 1;
    cursor: pointer;
}